.header {
  &.main {
    padding-bottom: 1.23077rem;
    margin: 0;

    @media (--viewport-medium) {
      display: flex;
      & > :not(:first-child) {
        margin-left: 14px;
      }
    }

    @media (--viewport-small) {
      margin-top: 1.23077rem;
      margin-bottom: 1.23077rem;
    }

    & .title {
      flex-grow: 1;
      & h1 {
        letter-spacing: 0.23077rem;
        font-size: 3rem;
        line-height: 3.69231rem;

        @media (--viewport-small) {
          line-height: 4.92308rem;
          font-size: 3.3rem;
        }

        @media (--viewport-medium) {
          font-size: 3.7rem;
        }

        & a {
          text-decoration: none;
        }
      }
    }

    & .contact {
      margin-top: 0.98462rem;
      list-style-type: none;
      padding: 0;
      & li {
        text-align: left;
        @media (--viewport-medium) {
          text-align: right;
        }
      }
    }

    & p {
      font-size: 1.5rem;
      line-height: 2.46154rem;
      margin-bottom: 0rem;
      margin-top: 0rem;
      color: #333;
      font-weight: normal;
      letter-spacing: 0.07692rem;
      text-transform: uppercase;
    }
  }
}
