@import '../../../styles/theme';

.root {
  display: block;
  margin-bottom: $theme-spacing-lg;
  border: 1px solid #333;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 92%;

  @include respond-above(md) {
    max-width: 72%;
  }

  &:hover {
    border-color: #ce9178;
  }

  img {
    max-width: 100%;
  }

  &.full-width {
    max-width: 100%;
    @include respond-above(md) {
      max-width: 100%;
    }
  }
}
