@import '../../../styles/theme';

.root {
  color: $theme-text-color;
  font-family: $theme-font-family;
}

.variant-h1 {
  @extend %theme-h1;
}

.variant-h2 {
  @extend %theme-h2;
}

.variant-h3 {
  @extend %theme-h3;
}

.variant-p {
  @extend %theme-p;
}

.variant-hr {
  @extend %theme-hr;
}

.variant-prose {
  font-size: $theme-font-size-md;
  line-height: 1.8;

  > :first-child:not(hr) {
    margin-top: 0;
  }

  a {
    @extend %theme-link;
  }

  h1 {
    @extend %theme-h1;
  }

  h2 {
    @extend %theme-h2;
  }

  h3 {
    @extend %theme-h3;
  }

  p {
    @extend .variant-p;
  }

  hr {
    @extend %theme-hr;
  }

  ul,
  ol {
    @extend %theme-list;
  }

  ul,
  ol {
    > li {
      @extend %theme-list-item;
    }
  }

  code {
    background-color: #333;
    padding: 1px 4px;
  }

  pre {
    @include scrollbar;
    margin-top: $theme-spacing-lg;
    margin-bottom: $theme-spacing-lg;

    code {
      background-color: transparent;
      border-width: 0;
      border-radius: 0;
      padding: 0;
      font-weight: 400;
      color: inherit;
    }
  }

  pre[class*='language-'],
  code[class*='language-'] {
    font-size: $theme-font-size-base;
  }

  pre[class*='language-'] {
    border-color: #333;
    border-width: 1px;
    // border-radius: 10px;
    border-style: solid;
    padding: $theme-spacing-md;
    background: rgb(26, 26, 26);
  }

  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid #333;
    max-width: 92%;
    @include respond-above(sm) {
      max-width: 82%;
    }
    @include respond-above(md) {
      max-width: 72%;
    }
  }
}
