version: '3'
services:
  richardwillis:
    container_name: 'richardwillis'
    build: ./
    ports:
      - 3000:3000
  prometheus:
    container_name: 'prometheus'
    image: prom/prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    ports:
      - 9090:9090
  grafana:
    container_name: 'grafana'
    image: grafana/grafana:latest
    ports:
      - 3001:3000
