@import '../../../styles/theme';

.mobile-nav {
  flex-basis: 100%;
  display: none;
  flex-direction: column;
  background: #333333;
}

.mobile-nav-visible {
  display: flex;
  @include respond-above(sm) {
    display: none;
  }
}

.menu-button {
  background-color: transparent;
  border: 0;
  color: white;
  font-size: $theme-font-size-xxl;
  position: absolute;
  left: $theme-spacing-md;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  // padding-top: $theme-spacing-md;
  // padding-bottom: $theme-spacing-md;
  cursor: pointer;
  &:hover {
    color: #ce9178;
  }
  @include respond-above(sm) {
    display: none;
  }
}

.menu-button-label {
  @include screen-reader-only;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: transparent;
  @include respond-above(sm) {
    display: none;
  }
}
