.root {
  @apply fixed
    inset-0
    bg-gray-800
    opacity-90
    z-10;
  animation-name: fadeIn;
  animation-duration: 200ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    @apply opacity-90;
  }
}
