.root {
  @apply flex
    flex-col
    justify-center
    items-center
    min-h-screen
    px-4;
}

.title,
.description {
  @apply opacity-0
  duration-200
    motion-safe:animate-fade-in;
}

.description {
  @apply text-2xl mt-2;
}

.card-grid {
  @apply flex
    flex-wrap
    flex-col
    w-full
    sm:w-auto
    sm:flex-row
    items-center
    justify-center
    gap-8
    mt-12
    opacity-0
    motion-safe:animate-fade-in;
  animation-delay: 1s;
}

.card {
  @apply text-center text-2xl;
}

@screen sm {
  .card {
    flex-basis: 45%;
  }
}

.card-title {
  @apply font-normal;
}

@keyframes fadeIn {
  0% {
    @apply opacity-0;
  }
  100% {
    @apply opacity-100;
  }
}
