.root {
  @apply flex
    space-x-4;
}

.nav-item {
  @apply text-gray-900
    hover:bg-gray-800
    hover:text-white
    px-3
    py-2
    rounded-md
    text-sm
    font-medium
    no-underline;
}

.active {
  @apply bg-gray-800
    text-white;
}
