@import '../../../styles/theme';

.root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.title {
  margin: 0;
  margin-bottom: $theme-spacing-xl;
  font-size: $theme-font-size-xxl;
  @include respond-above(sm) {
    font-size: $theme-font-size-2xl;
  }
}

.description {
  margin: 0;
  margin-bottom: $theme-spacing-xl;
  color: $theme-heading-color;
  font-size: $theme-font-size-lg;
  @include respond-above(sm) {
    font-size: $theme-font-size-xxl;
  }
}

.nav-grid {
}

.nav-item {
  font-size: $theme-font-size-md;
  @include respond-above(sm) {
    font-size: $theme-font-size-xl;
  }
  &:not(:last-child) {
    margin-right: $theme-spacing-md;
  }
}

@screen sm {
  .nav-item {
    @apply w-auto
      m-4;
    flex-basis: 45%;
  }
}
