@import '../../../styles/theme';

.root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.title {
  margin: 0;
  margin-bottom: $theme-spacing-lg;
}

.description {
  margin: 0;
  margin-bottom: $theme-spacing-lg;
  color: $theme-heading-color;
}

.nav-grid {
}

.nav-item:not(:last-child) {
  margin-right: $theme-spacing-md;
}

@screen sm {
  .nav-item {
    @apply w-auto
      m-4;
    flex-basis: 45%;
  }
}
