.hr {
  @apply mt-8
    sm:mt-12
    mb-8
    sm:mb-10;
}

.heading {
  @apply mb-8
    sm:mb-10
    text-gray-800;
}

.comments {
  @apply mb-10;
}

.icon {
  @apply mr-2
    w-5
    h-5
    text-gray-600;
}

.no-comments {
  @apply flex items-center;
}
