global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'richardwillis-nodejs'
    scrape_interval: 30s
    metrics_path: '/metrics'
    static_configs:
      - targets: ['richardwillis:3000']
