@mixin screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

$breakpoints: (
  xs: 320px,
  sm: 640px,
  md: 1024px,
  lg: 1200px,
);

@mixin respond-above($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin scrollbar($width: 12px) {
  $thumb-color: #333;
  $track-color: #111;

  scrollbar-width: thin;
  scrollbar-color: $thumb-color $track-color;

  &::-webkit-scrollbar {
    width: $width;
    height: $width;
  }

  &::-webkit-scrollbar-track {
    background: $track-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
    border-left-width: 1px;
    border-left-style: solid;
    border-color: $track-color;
  }
}

@mixin spacing {
  margin-bottom: $theme-spacing-md;
  @include respond-above(sm) {
    margin-bottom: $theme-spacing-lg;
  }
}
