%theme-link {
  color: $theme-link-color;
  &:hover {
    color: #ce9178;
  }
}

%theme-h1 {
  @include spacing;
  font-size: $theme-font-size-xl;
  @include respond-above(sm) {
    font-size: $theme-font-size-xxl;
  }
}

%theme-h2 {
  @include spacing;
  font-size: $theme-font-size-lg;
  @include respond-above(sm) {
    font-size: $theme-font-size-xl;
  }
}

%theme-h3 {
  @include spacing;
  font-size: $theme-font-size-md;
  @include respond-above(sm) {
    font-size: $theme-font-size-lg;
  }
}

%theme-p {
  @include spacing;
  font-size: $theme-font-size-base;
  @include respond-above(sm) {
    font-size: $theme-font-size-md;
  }
}

%theme-hr {
  margin-top: $theme-spacing-xxl;
  margin-bottom: $theme-spacing-xl;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #333;
  padding: 0;

  & + * {
    margin-top: 0;
  }
}

%theme-list {
  margin-top: $theme-spacing-lg;
  margin-bottom: $theme-spacing-lg;
  margin-left: $theme-spacing-md;
  margin-right: 0;
  padding: 0;
  list-style: none;
}

%theme-list-item {
  @include spacing;
  font-size: $theme-font-size-base;
  line-height: $theme-font-size-md;
  padding-left: $theme-spacing-lg;
  margin-top: $theme-spacing-md;
  position: relative;

  @include respond-above(sm) {
    font-size: $theme-font-size-md;
    line-height: $theme-font-size-lg;
  }

  &::before {
    $width: 0.35rem;
    width: $width;
    height: $width;
    top: calc(#{$theme-font-size-md} - (#{$width} * 2));
    left: $theme-spacing-xs;
    content: '';
    position: absolute;
    background-color: #d1d5db;
    border-radius: 50%;
  }
}
