%theme-link {
  color: $theme-link-color;
  &:hover {
    color: #ce9178;
  }
}

%theme-h1 {
  @include header-spacing;
  font-size: $theme-font-size-xl;
  @include respond-above(sm) {
    font-size: $theme-font-size-xxl;
  }
}

%theme-h2 {
  @include header-spacing;
  font-size: $theme-font-size-lg;
  @include respond-above(sm) {
    font-size: $theme-font-size-xl;
  }
}

%theme-h3 {
  @include header-spacing;
  font-size: $theme-font-size-md;
  @include respond-above(sm) {
    font-size: $theme-font-size-lg;
  }
}

%theme-p {
  @include spacing;
  font-size: $theme-font-size-base;
  @include respond-above(sm) {
    font-size: $theme-font-size-md;
  }
}

%theme-hr {
  margin-top: $theme-spacing-lg;
  margin-bottom: $theme-spacing-lg;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #333;
  padding: 0;

  @include respond-above(sm) {
    margin-top: $theme-spacing-xl;
    margin-bottom: $theme-spacing-xl;
  }

  & + * {
    margin-top: 0;
  }
}

%theme-list {
  @include spacing;
  padding: 0;
  margin-left: $theme-spacing-lg;
  @include respond-above(sm) {
    margin-left: $theme-spacing-xxl;
  }
}

%theme-list-item {
  font-size: $theme-font-size-base;

  @include spacing-sm;
  @include respond-above(sm) {
    font-size: $theme-font-size-md;
  }
}
