$theme-font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$theme-background: #1e1e1e;
$theme-text-color: #d4d4d4;
$theme-link-color: #569cd6;
$theme-heading-color: #ce9178;
$theme-tags-color: #73c991;
$theme-spacing-xs: 4px;
$theme-spacing-sm: 10px;
$theme-spacing-md: 16px;
$theme-spacing-lg: 26px;
$theme-spacing-xl: 36px;
$theme-spacing-xxl: 48px;
$theme-spacing-2xl: 58px;
$theme-font-size-sm: 0.6rem;
$theme-font-size-base: 1rem;
$theme-line-height-base: 1.5rem;
$theme-font-size-md: 1.05rem;
$theme-line-height-md: 1.55rem;
$theme-font-size-lg: 1.4rem;
$theme-font-size-xl: 1.8rem;
$theme-font-size-xxl: 2.25rem;
$theme-font-size-2xl: 3.5rem;
$theme-font-size-3xl: 4.5rem;
$theme-shell-width: 68rem;
