@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap');
@import 'node_modules/modern-normalize/modern-normalize';
@import './theme';

html,
body {
}
body {
  background-color: $theme-background;
}
body::-webkit-scrollbar {
  border-left: 1px solid #333;
}

body::-webkit-scrollbar-thumb {
  background: #333;
  border-left: 1px solid #333;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}
