@import 'node_modules/modern-normalize/modern-normalize';
@import './theme';

html,
body {
  height: 100%;
}
.tickLabel {
  // font-size: 30px !important;
}

body {
  background-color: $theme-background;
  @include scrollbar(14px);

  > div {
    height: 100%;
  }

  .mobile-nav-open & {
    overflow: hidden;
  }
}

ul,
ol,
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}
