#nprogress {
  @apply pointer-events-none;
}

#nprogress .bar {
  @apply bg-blue-400
    fixed
    top-0
    left-0
    w-full
    z-50;
  height: 2px;
}

#nprogress .peg {
  @apply block
    absolute
    right-0
    h-full
    w-24;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  transform: rotate(3deg) translate(0px, -4px);
}
