.root {
  @apply px-4
    py-2
    border
    border-gray-100
    rounded
    flex
    mb-4
    items-center;
  animation-timing-function: ease;
  animation-duration: 1s;
  animation-name: fadeIn;
}

.variant-error {
  @apply text-red-700;
}

.variant-success {
  @apply text-green-700;
}

.icon {
  @apply text-xl
    mr-4
    self-start;
  margin-top: 1px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
