@import '../../../styles/theme';

.root {
  // @include respond-above(sm) {
  // padding-top: 3rem;
  // }
}

.main {
  max-width: $theme-shell-width;
  margin-right: auto;
  margin-left: auto;
  /* FIXME */
  scroll-margin-top: 10rem;
  padding-left: $theme-spacing-lg;
  padding-right: $theme-spacing-lg;
  padding-top: 6.2rem;
  padding-bottom: $theme-spacing-xl;
  // margin: $theme-spacing-lg;
}
