@import '../../../styles/theme';

.root {
  // @include respond-above(sm) {
  // padding-top: 3rem;
  // }
}

.main {
  max-width: $theme-shell-width;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3.5rem;
  @include respond-above(sm) {
    margin-top: 4rem;
  }
  /* FIXME */
  scroll-margin-top: 10rem;
  padding-left: $theme-spacing-lg;
  padding-right: $theme-spacing-lg;
  padding-top: $theme-spacing-lg;
  padding-bottom: $theme-spacing-xl;

  transition-property: filter;
  transition-duration: 0.1s;

  :global(.mobile-nav-open) & {
    filter: blur(4px);
  }
}
