@import '../../../styles/theme';

.root {
  // padding-left: $theme-spacing-lg;
  // padding-right: $theme-spacing-lg;
}

.main {
  max-width: $theme-shell-width;
  margin-right: auto;
  margin-left: auto;
  /* FIXME */
  scroll-margin-top: 10rem;
  padding-left: $theme-spacing-lg;
  padding-right: $theme-spacing-lg;
  padding-top: $theme-spacing-xl;
  padding-bottom: $theme-spacing-xl;
  // margin: $theme-spacing-lg;
}
