@import '../../../styles/theme';

.root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.title {
  margin: 0;
  margin-bottom: $theme-spacing-xxl;
  font-size: 14vw;
  animation: fadeInUp;
  animation-duration: 1s;

  @include respond-above(sm) {
    font-size: $theme-font-size-2xl;
    margin-bottom: $theme-spacing-xl;
  }
}

.description {
  margin: 0;
  margin-bottom: $theme-spacing-xxl;
  color: $theme-heading-color;
  font-size: 8vw;
  animation: fadeInDown;
  animation-duration: 1s;

  @include respond-above(sm) {
    font-size: $theme-font-size-xxl;
    margin-bottom: $theme-spacing-xl;
  }
}

.nav-grid {
  opacity: 0;
  animation: pulseFadeIn;
  animation-duration: 1s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}

.nav-item {
  font-size: $theme-font-size-lg;
  &:not(:last-child) {
    margin-right: $theme-spacing-md;
  }

  @include respond-above(sm) {
    font-size: $theme-font-size-xl;
    &:not(:last-child) {
      margin-right: $theme-spacing-lg;
    }
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes pulseFadeIn {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    transform: scale3d(1.15, 1.15, 1.15);

    @include respond-above(sm) {
      transform: scale3d(1.2, 1.2, 1.2);
    }
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
