.root {
  @apply flex
    flex-wrap
    justify-center
    pt-10
    sm:pt-20
    gap-10
    sm:gap-20;
}

.item {
  @apply shadow-xl
    rounded-xl
    border
    border-gray-800
    overflow-hidden;
    line-height: 0;

}
