.root {
  @apply flex
    flex-wrap
    justify-center
    pt-5
    sm:pt-10;
}

.item {
  @apply rounded-xl
    m-5
    sm:m-10
    overflow-hidden;
  line-height: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}
