@import '../../../styles/theme';

.text-field {
  display: block;
  background-color: rgb(41, 41, 41);
  color: rgb(204, 204, 204);
  padding: $theme-spacing-sm;
  border: 1px solid rgb(41, 41, 41);
  width: 100%;
  max-width: 100%;
  // @apply block
  //   bg-gray-50
  //   rounded
  //   border
  //   border-gray-200
  //   leading-normal
  //   py-2
  //   px-3
  //   resize-y
  //   placeholder-gray-400
  //   focus:outline-none
  //   focus:bg-white;
  &:focus {
    border-color: #ce9178;
    outline: none;
  }

  @include respond-above(sm) {
    width: 16rem;
  }
}

.text-field:disabled {
  // @apply bg-gray-50;
}

.full-width {
  // @apply w-full;
  width: 100%;
}
