@import '../../../styles/theme';

.root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.variant-default {
  color: rgb(255, 255, 255);
  background-color: rgb(14, 99, 156);
  border: 1px solid rgb(14, 99, 156);
  padding: $theme-spacing-sm $theme-spacing-lg;
  cursor: pointer;

  &:hover {
    background-color: rgb(17, 119, 187);
  }

  &:focus {
    border-color: #ce9178;
  }
}

.loading-icon {
  margin-left: $theme-spacing-sm;
  animation: spin 1.5s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
