.variant-default {
  @apply bg-white
    text-gray-700
    font-medium
    py-1
    px-4
    border
    border-gray-400
    rounded-lg
    tracking-wide
    hover:bg-gray-100;
}

.variant-default:disabled {
  @apply text-gray-500
    cursor-auto
    hover:bg-white;
}

.variant-card {
  @apply text-2xl
    font-normal
    p-4
    rounded-xl
    border
    border-gray-300
    text-gray-800
    transform-gpu
    duration-200
    inline-block
    no-underline;
  transition-property: box-shadow, border-color;
}

.variant-card:hover {
  @apply border-gray-400
    shadow-md;
}

.variant-card:active {
  @apply border-gray-400
    shadow-sm;
}
