.root {
  @apply flex
    items-center
    justify-center;
}

.variant-default {
  @apply bg-white
    text-gray-700
    font-medium
    py-2
    px-4
    border
    border-gray-300
    rounded-lg
    tracking-wide
    duration-200
    hover:border-gray-400
    hover:shadow-sm
    focus:border-gray-400
    focus:shadow-sm
    focus:bg-gray-100
    focus:outline-none;
    transition-property: box-shadow, border-color;
}

.variant-default:active {
  @apply border-gray-400
    shadow-sm;
}


.variant-default:disabled {
  @apply text-gray-500
    cursor-auto
    hover:bg-white;
}

.variant-card {
  @apply text-2xl
    font-normal
    p-4
    rounded-xl
    border
    border-gray-300
    text-gray-800
    duration-200
    inline-block
    no-underline
    hover:border-gray-400
    hover:shadow-md;
  transition-property: box-shadow, border-color;
}

.variant-card:active {
  @apply border-gray-400
    shadow-sm;
}

.loading-icon {
  @apply animate-spin
    -ml-1
    mr-2
    h-5
    w-5;
}

.loading-icon-circle {
  @apply opacity-25;
}

.loading-icon-path {
  @apply opacity-75;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
