.form {
  @apply mt-8;
}

.heading {
  @apply text-gray-800
    font-medium
    text-lg;
}

.footer {
  @apply flex
  flex-col sm:flex-row items-stretch sm:items-start sm:justify-between;
}

.name-field {
  @apply w-full
    sm:w-3/4
    md:w-1/2;
}

.info-container {
  @apply flex
    items-center
    text-gray-700;
}

.info-icon {
  @apply w-5
    h-5
    text-gray-600
    mr-1;
}

.info-message {
  @apply text-xs
    md:text-sm;
}

.buttons-container {
  @apply flex flex-col sm:flex-row mt-2 sm:mt-0;
}

.button {
  @apply mx-2 mt-4 sm:mt-0;
  transition-property: box-shadow, border-color, opacity;
}

.button:last-child {
  @apply mr-0;
}

.button-hidden {
  @apply opacity-0 hidden;
}

.preview {
  @apply m-0;
}

.sr-hidden {
  @apply hidden;
}

.alert {
  @apply justify-center;
}
