.root {
  @apply fixed
  flex
  flex-wrap
    top-0
    w-full
    bg-white
    shadow
    z-10
    items-center
    h-16
    justify-between;
}

.title {
  @apply flex
  flex-shrink-0
  items-center text-2xl
  no-underline;
}

.body {
  @apply max-w-5xl
    mx-auto
    flex-1
    flex
    h-16
    items-center
    justify-center
    sm:justify-between
    px-6;
}


.nav {
  @apply hidden
    sm:block
    sm:ml-6;
}

