name: Staging deploy
on:
  pull_request:
    types: [opened, synchronize, labeled]
    branches: [master]

jobs:
  publish-staging-docker-image:
    if: contains(github.event.pull_request.labels.*.name, 'staging')
    name: Publish staging docker image
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}
      - name: Build and push docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: linux/amd64
          tags: ghcr.io/${{ github.repository_owner }}/richardwillis:staging
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
          build-args: |
            APP_VERSION=staging-${{github.event.number}}
            ASSET_PREFIX=/

  deploy-staging-app:
    needs: [publish-staging-docker-image]
    if: contains(github.event.pull_request.labels.*.name, 'staging')
    name: Deploy staging app
    runs-on: ubuntu-20.04
    steps:
      - name: Save deploy start time
        id: deploy_start
        run: |
          start=$(date +%s%N | cut -b1-13)
          echo ::set-output name=start_time::$start
      - name: Create GitHub deployment
        id: create_deployment
        uses: octokit/request-action@v2.x
        with:
          route: POST /repos/:repository/deployments
          repository: ${{ github.repository }}
          ref: ${{ github.event.pull_request.head.ref }}
          environment: staging
          required_contexts: '[]'
          production_environment: false
          auto_merge: false
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
      - name: Set GitHub deployment status to in progress
        id: start_deployment
        uses: octokit/request-action@v2.x
        with:
          route: POST /repos/:repository/deployments/:deployment/statuses
          repository: ${{ github.repository }}
          deployment: ${{ fromJson(steps.create_deployment.outputs.data).id }}
          environment: staging
          environment_url: http://staging-richardwillis.${{ secrets.DOKKU_HOST }}
          log_url: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
          state: in_progress
          mediaType: '{"previews": ["flash", "ant-man"]}'
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
      - name: Create deploy repo for dokku
        id: deploy_repo
        run: |
          echo "FROM $IMAGE_URL" > Dockerfile
          git init
          git config user.email "willis.rh@gmail.com"
          git config user.name "Richard Willis"
          git add Dockerfile
          git commit -m "Add Dockerfile"
          commit=$(git rev-parse HEAD 2>/dev/null || true)
          echo ::set-output name=commit_sha::$commit
        env:
          IMAGE_URL: ghcr.io/${{ github.repository_owner }}/richardwillis:staging
      - name: Push to dokku
        uses: dokku/github-action@master
        with:
          command: 'review-apps:create'
          review_app_name: 'staging-richardwillis'
          git_remote_url: ${{ secrets.GIT_REMOTE_URL }}
          ssh_private_key: ${{ secrets.DOKKU_SSH_PRIVATE_KEY }}
          git_push_flags: '--force'
          ci_commit: ${{ steps.deploy_repo.outputs.commit_sha }}
      - name: Set Grafana deployment
        run: |
          end=$(date +%s%N | cut -b1-13)
          curl -X POST https://grafana.$DOKKU_HOST/api/annotations \
            -H "Content-Type: application/json" \
            -H "Authorization: Bearer $AUTH_TOKEN" \
            --data @- << EOF
            {
              "dashboardId":2,
              "time":$TIME_START,
              "timeEnd":$end,
              "tags":["deployment","staging"],
              "text":"Staging version \"$APP_VERSION\" deployed to <a href=\"http://staging-richardwillis.$DOKKU_HOST\">http://staging-richardwillis.$DOKKU_HOST</a>"
            }
          EOF
        env:
          AUTH_TOKEN: '${{ secrets.GRAFANA_AUTH_TOKEN }}'
          DOKKU_HOST: '${{ secrets.DOKKU_HOST }}'
          TIME_START: ${{ steps.deploy_start.outputs.start_time }}
          APP_VERSION: '${{ github.event.pull_request.head.ref }}'
      - name: Set GitHub deployment status to success
        id: successful_deployment
        uses: octokit/request-action@v2.x
        with:
          route: POST /repos/:repository/deployments/:deployment/statuses
          repository: ${{ github.repository }}
          deployment: ${{ fromJson(steps.create_deployment.outputs.data).id }}
          environment: staging
          environment_url: http://staging-richardwillis.${{ secrets.DOKKU_HOST }}
          log_url: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
          mediaType: '{"previews": ["ant-man"]}'
          state: success
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
      - name: Set GitHub deployment status to failure
        id: failed_deployment
        uses: octokit/request-action@v2.x
        if: failure()
        with:
          route: POST /repos/:repository/deployments/:deployment/statuses
          repository: ${{ github.repository }}
          deployment: ${{ fromJson(steps.create_deployment.outputs.data).id }}
          environment: staging
          environment_url: http://staging-richardwillis.${{ secrets.DOKKU_HOST }}
          log_url: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
          mediaType: '{"previews": ["ant-man"]}'
          state: failure
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
