@import '../../../styles/theme';

.card {
  margin-bottom: $theme-spacing-lg;
  margin-top: $theme-spacing-lg;
  text-decoration: none;
  transition-duration: 0.4s;
  transition-property: box-shadow, border-color;

  &:hover {
    border-color: $theme-heading-color;
  }
}

.title {
  margin-bottom: $theme-spacing-md;
  margin-top: 0;
  color: $theme-link-color;
  font-size: $theme-font-size-lg;
}

.content {
  margin-bottom: $theme-spacing-md;
}
